
:root {
    /* primary color */
    --color-primary: #063799;
    --color-primary-light: #B4C3E0;
    --color-body-bg: #F2F3F9;
    --color-button-bg: #DAE0F0;
    --color-span-bg: #FCFBFD;
    --color-div-bg: #eff9eb;
    --color-div-greenStatus-bg: #5BC039;
    --color-approved: #5BC039;
    --color-text-closed: #FD686B;
    --color-details-blue: #44A1F9;
    --color-div-info-bg: #cee6c4;
    --color-white: #FFFFFF;
    --color-border: #c9c7c7;
    --color-border-light: #ccc;
    --color-border-dark: #656F77;
    --color-border-trash: #FD7B7D;
    --color-text-dark: #000000;
    --color-text-gray: #999595;
    --font-family-languageBtn: system-ui;
    --color-filter-sec:#dae0f0  ;
}
body{
    height: 1000px;
    font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
    background-color: var('red');
}
 